/*
    Reset
*/

.row {
    margin: 0;
    padding: 0;
}

/*
    Search
*/

.search .result {
    padding: 10px;
    align-items: center;
}

.search .result img {
    width: 100%;
    height: 300px;
}

/*
    Products
*/

.products .product {
    padding: 10px;
}

.products .product img {
    width: 100%;
    height: 300px;
}