<h2>DETALLE AUTO</h2>
<div class="container" *ngIf="auto">
    <div class="imagen" *ngIf="auto.imagen">
        <img src="{{url+'get-imagen/'+auto.imagen}}" *ngIf="auto.imagen">
    </div>
    <div class="clearfix"></div>
</div>
<div class="data">
    <h3>{{auto.fabricante}}</h3>
    <h3>{{auto.modelo}}</h3>
    <h3>{{auto.color}}</h3>
    <h3>{{auto.matricula}}</h3>
    <h3>{{auto.anio}}</h3>
    <h3>{{auto.precio}}</h3>

    <p *ngIf="confirm==false">
        <a [routerLink]="['/editar-auto',auto._id]" class="button-edit">Editar</a>
        <a (click)="setConfirm(true)" class="button-delete">Borrar</a>
    </p>

    <p *ngIf="confirm==true">
      <span class="confirm">Estas seguro de eliminar este auto?</span><br/>
      <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
      <a (click)="borrarAuto(auto._id)" class="button-delete">Eliminar definitivamente</a>
    </p>
</div>