/*
    Body
*/

body {
    background-image: url("../img/fondo1.jpeg");
    color: white;
}

/*
    Slider
*/

a {
    color: white;
    text-decoration: none;
}

.slider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider-img {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
    border: 3px solid white;
}

.slider-img img{
    width: 100%;
    height: 300px;
    display: none;
}

.slider-img img.active{
    display: inline-block;
}

.left,.right {
    margin-top: 130px;
    z-index: 100;
    cursor: pointer;
    float: left;
    position: absolute; 
}

.left {
    margin-right: -45px;
    background-color: rgb(255, 255, 255, 0.3);
}

.right {
    margin-left: -50px;
    background-color: rgb(255, 255, 255, 0.3);
}

/*
    Article
*/

.article-div h2 {
    color: orangered;
}

.article-div span {
    font-size: small;
    color: rgb(255, 255, 255, 0.5);
}

.article-div button {
    padding: 5px;
    background-color: blue;
    color: white;
}