<div class="row">
    <div class="col-lg-2"></div>
    <!--Transbox-->
    <div class="col-lg-8 transbox">
        <!--Thead-->
        <app-header class="row"></app-header>
    </div>
    <div class="col-lg-2"></div>
</div>
<br>
<div class="row">
    <div class="col-lg-2"></div>
    <!--Transbox-->
    <div class="col-lg-8 transbox">
        <router-outlet></router-outlet>
    </div>
    <div class="col-lg-2"></div>
</div>
<br>
<div class="row">
    <div class="col-lg-2"></div>
    <!--Transbox-->
    <div class="col-lg-8 transbox">
        <!--Tfoot-->
        <app-footer></app-footer>
    </div>
    <div class="col-lg-2"></div>
</div>
<app-social-bar></app-social-bar>