<div class="wrap">
    <div id="banner">
        <img src="../../../assets/img/home.PNG" alt="Auto">
    </div>
     <!--Inicio Tarjetas-->
     <div id="cards">
        <div class="card">
            <img src="../../../assets/img/cotiza.png">
            <h2 class="category">Cotiza online tu AUTO</h2>
        </div>
        <div class="card">
            <img src="../../../assets/img/promo.png">
            <h2 class="category">Conoce nuestras PROMOCIONES</h2>
        </div>
        <div class="card">
            <img src="../../../assets/img/online.png">
            <h2 class="category">Agenda tu cita ONLINE</h2>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--Fin Tarjetas-->
<h2>MODELOS</h2>
<img src="../../../assets/img/a1.PNG" alt="Auto">
<img src="../../../assets/img/a2.PNG" alt="Auto">
</div>
<h2>NUESTROS TALLERES</h2>
<div id="taller">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TB8pbqy82EI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
