/*
    Reset
*/

.row {
    margin: 0;
    padding: 0;
}

/*
    Form
*/

.contact .image img {
    width: 100%;
    height: 400px;
}

.contact .form {
    display: flex;
    align-items: center;
}

.contact .form span {
    color: red;
    font-size: x-small;
}